@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
}

.title {
  text-align: center;
  color: #333;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.metaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.metaCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.metaCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.deleteButton {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.deleteButton:hover {
  background-color: #e60000;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.confirmButton:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #c82333;
}

/* Fixed Buttons */
.fixedButtons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.fixedButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.fixedButton:hover {
  background-color: #0056b3;
}

.fixedButtonGrey {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.fixedButtonGrey:hover {
  background-color: #5a6268;
}

/* Responsividade */
@media (max-width: 768px) {
  .metaCard {
    width: 100%;
    margin: 10px 0;
  }

  .fixedButtons {
    bottom: 10px;
    right: 10px;
  }

  .fixedButton, .fixedButtonGrey {
    padding: 8px 16px;
  }
}

.adminButtons {
  position: fixed;
  bottom: 80px; /* Ajuste conforme necessário */
  right: 20px;
  z-index: 1000;
}

.addButton {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px; /* Espaço entre botões */
}

.addButton:hover {
  background-color: #45a049;
}
